table tr td {
	border: 1px solid black; /* borda da tabela */
}
 table {
 	width: 80%;/* largura da tabela */
 	margin: auto;/* alinhamento centralizado */
 }


 button {
 	color: #FF69B4; /* cor da fonte*/
 	background-color: #00008B	; /* cor do fundo do botão*/
 	font-size: 15px;/* tamanho da fonte*/
 	border-radius: 20px 50px 5px 90px ; /* arredonda os cantos*/
 	margin-top: 50px;/* margem do topo */
 	margin-bottom: 50px;/* margem inferior  */
 	margin-left: 20px; /* margem a esquerda*/
 	margin-right: 20px;/* margem a direita*/
 	margin: 50px 50px 20px 50px;/*todas as margens*/
    padding-top: 20px;/*margim interna inferior*/
    padding-bottom: 20px;/*margim interna esquerda*/
    padding-left: 20px;/*margem interna direita*/
 }

h1{
 color: #3275a8; 
 font-size: 50px;
 font-family: 'jokerman';
  
}
p{
color: #FF00FF;
   font-family:font-family: "Inter",'sans-serif';
   font-size: 35px;
   font-weight: bold;
   text-align: justify;
   padding-left: 20px;
   padding-right: 20px;


